<h2>You're Welcome!</h2>
<p>This site may continue to be in the <em>current state</em>...
  until I'm able to put aside some time for this.</p>

<p>So, I won't ask you to come back soon, but maybe sometime in the foreseeable future.</p>

<p>Meanwhile, let me leave you with one of my favourite quote:</p>
<blockquote>A ship in harbor is safe, but that is not what ships are built for.<span class="author"><i>John A.
      Shedd</i></span></blockquote>

<p>Cheers!<br>
  @sijojlouis
</p>

<hr />

<ul>
  <li>
    <a href="https://github.com/sijojlouis">#github</a>
  </li>
  <li>
    <a href="https://twitter.com/sijojlouis">#twitter</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/sijojlouis">#linkedin</a>
  </li>
</ul>